PROJECT_NAME="Starpass API"
ENVIRONMENT="development"
DEBUG=True

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=starpass_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

SECRET_KEY=generate-a-secure-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

TMDB_API_KEY=